
Star Wars Project/Assets/Plugins/

Star Wars Project/Assets/Third Person Melee System/Animations/

Star Wars Project/Assets/Third Person Melee System/XWeaponTrail/

Star Wars Project/Assets/UI Images/
